body {
    padding: 0;
    margin: 0;
    border: 2px dotted red;
    background-color: whitesmoke;
}

div.main-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

div.header {
    padding: 20px;
    font-size: 72px;
    font-family: monospace;
}

div.body {
    display: flex;
    flex: 1;
}

div.interact-container {
    display: flex;
    flex: 1;
    align-items: center;
    border: 1px solid black;
}

div.button-container {
    display: flex;
    flex-direction: column;
}

div.footer {
    padding: 20px;
    font-family: monospace;
}